.app__header {
  background: var(--color-black);
}
.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 90px;
}

.app__header-img img {
  width: 80%;
}
.custom__button:hover {
  transition: all 0.2s ease;
  border-top: 1px solid var(--color-golden);
  border-bottom: 1px solid var(--color-golden);
  background: none;
  color: var(--color-golden);
}
